.nav {
  background-color: #dfdfdf; /* 상단바 배경색 */
  font-family: 'Montserrat';
}

.nav a {
  margin-right: 10px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.nav .logo {
  font-weight: 800;
}

.search-bar {
  flex-grow: 1; /* 검색 바가 남은 공간을 차지하게 설정 */
  margin: 0 20px; /* 양쪽 여백 추가 */
}

.search-form {
  display: flex; /* 수평으로 배치 */
}

.search-form input {
  padding: 10px; /* 입력 필드 패딩 */
  border: 1px solid #ddd; /* 입력 필드 테두리 */
  border-radius: 4px; /* 입력 필드 모서리 둥글게 */
  font-size: 12px; /* 입력 필드 글꼴 크기 */
  width: 600px;
}

.search-button {
  padding: 5px 10px;
  background-color: #0056b3; /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px; /* 버튼과 입력 필드 간의 간격 */
}
