<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>로그인</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ fragments/nav.html::navbar }"></div>

<h4>로그인</h4>

<div th:if="${param.error}">
    <h4>아이디나 비밀번호 틀렸음</h4>
</div>

<form action="/login" method="POST">
    <input type="text" id="username" name="username" placeholder="아이디" required>
    <input type="password" id="password" name="password" placeholder="비밀번호" required onkeydown="if(event.key === 'Enter'){ loginJWT(); return false; }">
    <button type="button" name="login" class="submit-button" onclick="loginJWT()">로그인</button>
</form>

<button class="submit-button" onclick="window.location.href='/register'">회원가입</button>

<script>
  function loginJWT() {
    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    fetch('/login/jwt', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        [csrfHeader]: csrfToken // CSRF 토큰을 헤더에 포함
      },
      body: JSON.stringify({
        username: document.querySelector('#username').value,
        password: document.querySelector('#password').value
      })
    }).then(r => {
      console.log(r);
      if (r.ok) {
        // window.history.back(); // 로그인 성공 시 이전 페이지로 돌아가기
      }
    });
  }
</script>

</body>
</html>