<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ fragments/nav.html::navbar }"></div>

<h4>회원가입</h4>

<form id="registerForm" onsubmit="return validateForm(event)">
    <label>이름 <input name="displayName" id="displayName" required></label><br>
    <label>아이디 <input name="username" id="username" required></label>
    <p id="username-message" style="color: red;"></p>
    <label>비밀번호 <input name="password" id="password" type="password" required></label><br>
    <label>비밀번호 확인 <input name="confirmPassword" id="confirmPassword" type="password" required></label><br>
    <button type="submit">전송</button>
</form>

<script th:src="@{/js/scripts/register.js}"></script>

</body>
</html>
