<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-0lax" scope="col">id</th>
        <th class="tg-0lax" scope="col">글제목</th>
        <th class="tg-0lax" scope="col">날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i: ${posts}">
        <td class="tg-0pky" th:text="${i.id}">###</td>
        <td class="tg-0pky" th:text="${i.title}">Title</td>
        <td class="tg-0pky" th:text="${#dates.format(i.date, 'yyyy년 M월 d일')}">Date</td>
    </tr>
    </tbody>

</table>

</body>
</html>