<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<!-- 디테일 표시 -->
<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${item.imageUrl}">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price+'원'}">7억</p>
</div>

<!-- 주문 버튼 -->
<div class="detail">
    <form th:action="@{/purchase}" th:method="POST">
        <input type="hidden" name="title" th:value="${item.title}">
        <input type="hidden" name="price" th:value="${item.price}">
        <input type="hidden" name="imageUrl" th:value="${item.imageUrl}">

        <label for="quantity">수량 :</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">

        <button type="submit" class="order-button">주문하기</button>
    </form>
</div>

<!-- 댓글 영역 -->
<div class="comment-area">
    <h5>댓글</h5>
    <div class="comment-card" th:each="comment : ${comments}">
        <div class="single-comment">
            <p>
                <strong th:text="${comment.displayName}">익명</strong>
                <span>
                    <span th:if="${comment.rating == 0}">☆☆☆☆☆</span>
                    <span th:if="${comment.rating == 1}">★☆☆☆☆</span>
                    <span th:if="${comment.rating == 2}">★★☆☆☆</span>
                    <span th:if="${comment.rating == 3}">★★★☆☆</span>
                    <span th:if="${comment.rating == 4}">★★★★☆</span>
                    <span th:if="${comment.rating == 5}">★★★★★</span>
                </span>
            </p>
            <p th:text="${comment.content}">여기에 댓글 내용이 들어갑니다.</p>
        </div>
    </div>
    <div class="border" sec:authorize="isAuthenticated()">
        <h5>댓글 달기</h5>
        <form class="comment-form" th:action="@{/comment}" th:method="POST">
            <div class="comment-table">
                <label for="rating">별점 :</label>
                <select id="rating" name="rating" onchange="updateStars()">
                    <option value="5" selected>★★★★★</option>
                    <option value="4">★★★★☆</option>
                    <option value="3">★★★☆☆</option>
                    <option value="2">★★☆☆☆</option>
                    <option value="1">★☆☆☆☆</option>
                    <option value="0">☆☆☆☆☆</option>
                </select>
            </div>
            <div class="comment-table">
                <label for="content">내용 :</label>
                <input id="content" name="content">
            </div>
            <input type="hidden" name="postId" th:value="${item.id}">

            <button class="submit-button" type="submit">전송</button>
        </form>
    </div>
</div>

</body>
</html>