<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${item.imageUrl}">
    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price+'원'}">7억</p>
</div>
<div class="comment-area">
    <form class="comment-form" th:action="@{/comment}" th:method="POST">
        <div class="comment-table">
            <label for="rating">별점 :</label>
            <select id="rating" name="rating" onchange="updateStars()">
                <option value="5" selected>★★★★★</option>
                <option value="4">★★★★☆</option>
                <option value="3">★★★☆☆</option>
                <option value="2">★★☆☆☆</option>
                <option value="1">★☆☆☆☆</option>
                <option value="0">☆☆☆☆☆</option>
            </select>
        </div>
        <div class="comment-table">
            <label for="content">내용 :</label>
            <input id="content" name="content">
        </div>
        <input type="hidden" name="parentId" th:value="${item.id}">

        <button class="submit-button" type="submit">전송</button>
    </form>
</div>

</body>
</html>