<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="card" th:each="i: ${items}">
    <img th:src="${i.imageUrl}">
    <div>
        <a th:href="@{'/detail/' + ${i.id}}">
            <h4 th:text="${i.title}">바지</h4>
        </a>
        <p th:text="${i.price}">7억</p>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/edit/' + ${i.id}}">✏️</a>
            <a th:onclick="fetch('/item?id=[[${i.id}]]', {method : 'DELETE', headers: {
                'Content-Type': 'application/json',
                'X-XSRF-TOKEN': [[${_csrf.token}]]}
                })
                .then(r => r.text())
                .then(() => {
                    location.reload();
                })
                ">🗑️</a>
        </div>
    </div>
</div>

<!-- 페이지 번호 버튼 -->
<div>
    <ul class="pagination justify-content-center">
        <li class="page-item" th:each="i : ${#numbers.sequence(1, pages)}" th:classappend="${page == i} ? 'active'">
            <a class="page-link" th:href="@{/list/{page}(page=${i})}" th:text="${i}">1</a>
        </li>
    </ul>
</div>

</body>
</html>